@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.btn_wrapper {
  display: flex;
  justify-content: center;
}

.btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.con {
  margin-bottom: 10px;
}


.benefits1 {
  text-align: center;
  font-size: 50px;
  padding-top: 6rem;
  color: #0c2446;
  font-family: 'Copperplate';
  padding-bottom: 27px;
}
.benefit-card {
  display: flex;
  overflow-x: hidden;
  align-items: flex-start;
  justify-content: left;
  background-color: #f3f4f6;
  
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  text-align: center;
  font-family: 'Work Sans', sans-serif;  
}
#inner{
  width: 100%;
  height: 100%;
  padding-right: 15px;
}

.benefit-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.benefit-title {
  padding-right: 1rem;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #03105c;
}

.benefit-description {
  font-size: 23px;
  margin-bottom: 10px;
}

.benefits_whole {
  background-color: white;
}

.descr {
  text-align: left;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
  color: rgb(121, 38, 89);
  padding-bottom: 54px;
  margin-top: 27px;
}


.descr-dia {
  margin-top: 2rem;
  text-align: left;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
  color: rgb(121, 38, 89);
}

.whole {
  background-color: #B9D2E2;
}



@media only screen and (max-width: 768px) {
  .benefits-container {
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0;

  }

  .benefit-card {
    
    margin: 30px 0;
    margin-left: 80px;
  }
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.con,
.bank {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #03105c;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-right: 20px;
}

.con {
  background-color: #bfa4bcd9;
}


.con:hover {
  background-color: #8a56a8;
}

.bank {
  background-color: #bfa4bcd9;
}

.bank:hover {
  background-color: #8a56a8;
}

@media (max-width: 480px) {
  .benefit-card{
    width: 13rem;
  }

  .benefit-title {
    font-size: 1.1rem;
  }

 

  .descr-dia {
    font-size: 15px;
  }
  
  .bank{
    width: 17rem;
    height: 4rem;
  }

  .con {
    width: 15rem;
  }

  .benefit-text {
    font-size: 2rem;
  }

  .benefit-description {
    font-size: 15.8px;
  }

  .descr {
    font-size: 17px;

  }
}


.button-container {
  display: flex;
  justify-content: center;
}

button {
  padding: 0.5em 1em;
  font-size: 1.25em;
  
  border: none;
  border-radius: 25px;
  background-color: #03105c;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin:1rem;
}

/* button:hover {
  background-color: #0062cc;
  transform: scale(1.2);
  
} */

button:active {
  background-color: #005cbf;
}

.card-body{
  background-color: #f3f4f6 !important;
}

