.benefits-container {
  background-color: #02147700;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: #a7f3d0;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  text-align: center;
}

.benefit-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.benefit-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.benefit-description {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .benefits-container {
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0;
  }
  
  .benefit-card {
    
    margin: 20px 0;
  }
}
