.g-blue-950 {
  font-family: 'Work Sans', sans-serif;
  background-color: #b9d2e2;
 

  color: #053a3e;
}

.some {
  color: #3f384c;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 22px;
}

.card {
  border: none;
  color: #835656;
  background-color: aqua;
  
}

.card-body {
  height: 260px;
  background: rgb(210,155,178);
background: linear-gradient(180deg, rgba(210,155,178,0.7399334733893557) 1%, rgba(190,159,187,0.5382528011204482) 13%, rgba(255,255,255,0.5830707282913166) 86%, rgba(255,255,255,0.7231267507002801) 100%);

}

.cards_1 {
  height: 400px;
}

.car-title {
  margin: 0;
  font-size: 0.5rem;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  align-items: center;
  padding: 30px;
 background: rgb(210,155,178);
background: linear-gradient(180deg, rgba(210,155,178,0.7399334733893557) 1%, rgba(190,159,187,0.5382528011204482) 13%, rgba(255,255,255,0.5830707282913166) 86%, rgba(255,255,255,0.7231267507002801) 100%);
}

.Flex-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

@media (min-width: 576px) {
  .car-title {
    font-size: 17px;  
    padding-bottom: 116px;
    color: #393F8B;
    }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }

  .card {
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }


 
}@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  
  .box {
    margin-bottom: 20px;
  }
  
  .box img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .card-title {
    font-size: 18px;
    text-align: center;
    margin-top: 1.2rem;
  }
}
@media screen and (max-width: 767px) {
  .some {
    font-size: 26px;
  }
  
  .car-title {
    font-size: 14px;
  }
}

