
.footer_container{
  font-family:'Work Sans', sans-serif;
  background-color: #0c2340;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width:auto;
  color: aliceblue;
}

.footer_item{
  margin: 1rem;
}

@media (max-width: 767px) {
  .footer_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6rem;
    font-size: 0.8rem;
    text-align: center;
  }
  .footer_item{
    margin-top: 5rem;
  }
}



.container-of{
  margin:2rem;
  text-align: left;
  font-family: 'Work Sans', sans-serif;
  height:auto;
  width: auto;

}