@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Navbar styles */
.navbar {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  background-color: #f3f4f6;
<<<<<<< HEAD
=======
  position: relative;
>>>>>>> aniketh
}

.navbar .nav-link {
  color: #000;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.navbar .nav-link:hover {
  color: #af7200d3;
  text-decoration: underline;
}

.navbar-toggler {
  border-color: transparent;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #f3f4f6;
  color: #000;
  border-radius: 0.25rem;
  width: auto;
  display: block;
  z-index: 1;
  position: absolute;
  top: 33%;
  transform: translateY(-50%);
  right: 1rem;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
}

@media (min-width: 860px) {
  .navbar-toggler {
    display: none;
  }
}

/* Header styles */
.logo {
  height: 60px;
}

.header {
  padding: 10px 0;
}

.nav-items {
  text-align: right;
}
