.bg-amber-600 {
    background-color: #FFC857;
  }
  
  .bg-amber-700:hover {
    background-color: #E6B43C;
  }
  
  .bg-blue-950 {
    background-color: #13293D;
  }
  
  .text-amber-600 {
    color: #FFC857;
  }
  
  .text-blue-950 {
    color: #13293D;
  }
  
  #partnership {
    font-family: 'Montserrat', sans-serif;
  }
  
  .main-partner-logo {
    max-width: 200px;
  }
  
  @media screen and (max-width: 768px) {
    .main-partner-logo {
      max-width: 150px;
    }
  }
  